In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
data = {
    'Hours': [1,2,3,4,5,6,7,8],
    'Marks': [25,35,45,50,55,65,70,80]
}
df=pd.DataFrame(data)
df

   Hours  Marks
0      1     25
1      2     35
2      3     45
3      4     50
4      5     55
5      6     65
6      7     70
7      8     80

In [6]:
# Step 3: Define features and target
X = df[['Hours']]
y = df[['Marks']]

In [7]:
# Step 4: Split Data into train & test sets
X_train, X_test, y_train, y_test = train_test_split(X,y)
print("Training samples:",len(X_train))
print("Testing samples:",len(X_test))

Training samples: 6
Testing samples: 2

In [9]:
# Step 5: Create the model # Step 6 : Train the model
model = LinearRegression()
model.fit(X_train, y_train)
print("Model trained succesfully!")

Model trained succesfully!

In [12]:
y_pred = model.predict(X_test)
print(y_test.values)
print(X_test)
print("Actual:",list(y_test.values))
print("Predicted:", list(y_pred))

[[70]
 [25]]
   Hours
6      7
0      1
Actual: [array([70]), array([25])]
Predicted: [array([72.]), array([28.28571429])]