## Numpy introduction and usage
## we will use numpy in this jupyetr notebook
## One dimensional array

In [1]:
import numpy as np

In [3]:
array1=np.array([10,20,30,40,50])

In [4]:
print(array1)

[10 20 30 40 50]

## Two dimensional array

In [5]:
array_two=np.array([[10,20,30],[40,50,60]])

In [6]:
print(array_two)

[[10 20 30]
 [40 50 60]]

# Three dimensional array (3-D array)

In [7]:
array_three=np.array([[[10,20,30],[40,50,70]],[[10,20,30],[40,50,70]]])

In [8]:
print(array_three)

[[[10 20 30]
  [40 50 70]]

 [[10 20 30]
  [40 50 70]]]

## Find out dimension of numPy array

In [10]:
print('First Array Dimension: \t',array1.ndim)

First Array Dimension: 	 1

In [11]:
print('Second Array Dimension: \t', array_two.ndim)

Second Array Dimension: 	 2

In [12]:
print('Third Array Dimension: \t', array_three.ndim)

Third Array Dimension: 	 3

# Write array of 5 students marks using NumPy
    ## Marks are: 80,70,75,99,89

In [17]:
array1=np.array([80,70,75,99,89])

In [18]:
print('Array of Marks:')
print(array1)

Array of Marks:
[80 70 75 99 89]

# Write an array:to take Marks of 5 students in 3 subjects using NumPy
## Math, English, Chemistry
## [[50,45,49],[40,42,45],[35,40,46],[39,40,45],[48,40,40]]

In [19]:
marks_subject=np.array([[50,45,49],[40,42,45],[35,40,46],[39,40,45],[48,40,40]])
print('2 D Array example')
print(marks_subject)

2 D Array example
[[50 45 49]
 [40 42 45]
 [35 40 46]
 [39 40 45]
 [48 40 40]]

# Write an array: to take Marks of 4 students in 3 subjects for two semester using NumPy
    ## Students name are: 'Amit','Sha','Xi','Arif'
    ## Math, English, Chemistry
    ## Two semester : Sem1, Sem2
    ## 4*3*2
    ## [[[85,88],[78,82],[90,95]], [[76,70],[40,45],[90,90]], [[[80,86],[78,82],[90,95]], [85,88],[78,82],[70,90]]]

In [20]:
marks_subject_sem=np.array([
    [[85,88],[78,82],[90,95]] , # Amit (math[sem1,sem2])
    [[76,70],[40,45],[90,90]] ,
    [[80,86],[78,82],[90,95]] ,
    [[85,88],[78,82],[70,90]]
])

In [22]:
print(marks_subject_sem)

[[[85 88]
  [78 82]
  [90 95]]

 [[76 70]
  [40 45]
  [90 90]]

 [[80 86]
  [78 82]
  [90 95]]

 [[85 88]
  [78 82]
  [70 90]]]

## write an array: to take weather of 2 cities in 3 days for three times in a day (morning, noon, evening)
    ## Cities name are: Kuala Lumpur, Delhi
    ## Saturday, Sunday, Monday
    ## Three Time Slot: Morning, Noon, Evening
    ## 1st city, KL: [[25,30,28],[24,28,25],[30,32,30]]
    ## 2nd city, Delhi: [[30,35,30],[32,34,30],[28,31,30]
       ## [[[25,30,28],[24,28,25],[30,32,30]],[30,35,30],[24,28,25],[28,31,30]]]
# Create one 3-D array for this using Numpy and print it

In [24]:
weather_data=np.array([
    # Kuala Lumpur (City 1)
    [
        [30, 33, 29],   # Saturday (Morning, Noon, Evening)
        [31, 34, 28],   # Sunday
        [29, 32, 27]    # Monday
    ],
    # Delhi (City 2)
    [
        [20, 27, 22],   # Saturday
        [21, 29, 23],   # Sunday
        [19, 26, 21]    # Monday
    ]
])

In [25]:
print("Weather Data :")
print(weather_data)

Weather Data :
[[[30 33 29]
  [31 34 28]
  [29 32 27]]

 [[20 27 22]
  [21 29 23]
  [19 26 21]]]

In [30]:
weather_array=np.array([[[25,30,28],[24,28,25],[30,32,30]],[[30,35,30],[24,28,25],[28,31,30]]])

In [31]:
print(weather_array)

[[[25 30 28]
  [24 28 25]
  [30 32 30]]

 [[30 35 30]
  [24 28 25]
  [28 31 30]]]

# Basic Info
    ## shape: rows and column
    ## size: number of elements
    ## diemnsion: return dimension 1, 2, 3...
    ## Data type: return stored data values type

In [35]:
array1=np.array([10,20,30,40,50])

In [36]:
print(array1)

[10 20 30 40 50]

In [37]:
print("Shape of array1: ",array1.shape)

Shape of array1:  (5,)

In [38]:
print("Size of array1: ",array1.size)

Size of array1:  5

In [39]:
print('Dimension: ',array1.ndim)

Dimension:  1

In [40]:
print('Data type : ',array1.dtype)

Data type :  int64

In [46]:
students=np.array(['Ali Munaf bin Kabir','Shi','xi','Meena','Ziva'])

In [47]:
print(students)

['Ali Munaf bin Kabir' 'Shi' 'xi' 'Meena' 'Ziva']

In [48]:
print("Shape of array : ",students.shape)

Shape of array :  (5,)

In [44]:
print("Number of students : ",students.size)

Number of students :  5

In [45]:
print('Data type: ',students.dtype)

Data type:  <U5

# Mathematical Operation

In [49]:
print(array1)

[10 20 30 40 50]

In [50]:
total=np.sum(array1)

In [51]:
print(total)

150

In [53]:
print('Mean: ',np.mean(array1))

Mean:  30.0

In [56]:
print('Min: ',np.min(array1))

Min:  10

In [57]:
print('Max: ',np.max(array1))

Max:  50

In [58]:
print('Index of max: ',np.argmax(array1))

Index of max:  4

In [59]:
our_arr=np.array([100,200,300,7000,400,500,300,1900,600])

In [60]:
print(our_arr)

[ 100  200  300 7000  400  500  300 1900  600]

# Searching and sorting example in 1-D Array

In [67]:
sorted_arr=np.sort(our_arr)
print('*** Sorted Array ')
print(sorted_arr)

*** Sorted Array
[ 100  200  300  300  400  500  600 1900 7000]

In [62]:
print('Is there any item greater than 500?: ',np.any(sorted_arr>500))

Is there any item greater than 500?:  True

In [63]:
print('All greather than 500?: ',np.all(sorted_arr>500))

All greather than 500?:  False

In [64]:
print('All greather than 99?: ',np.all(sorted_arr>99))

All greather than 99?:  True

In [65]:
print('Where values >500',np.where(sorted_arr>500))

Where values >500 (array([6, 7, 8]),)

In [66]:
print('All number greater than 500')
for num in np.where(sorted_arr>500):
    print(num)

All number greater than 500
[6 7 8]

In [71]:
print(our_arr)

[ 100  200  300 7000  400  500  300 1900  600]

In [72]:
print(np.min(our_arr))

100

In [75]:
print('Index of Min',np.argmin(sorted_arr))

Index of Min 0

In [74]:
print('Index of Max',np.argmax(sorted_arr))

Index of Max 8

In [76]:
print('All number greater than 500')
for num in sorted_arr>500:
    print(num)

All number greater than 500
False
False
False
False
False
False
True
True
True

In [78]:
selected_values=sorted_arr[sorted_arr>500]

In [79]:
print(selected_values)

[ 600 1900 7000]

In [80]:
for num in selected_values:
    print(num)

600
1900
7000

In [82]:
for num in sorted_arr[sorted_arr>500]: # option 2 --> to write
    print(num)

600
1900
7000

In [83]:
print(' ',sorted_arr[sorted_arr>500])

  [ 600 1900 7000]

# Slicing 1-D Array
    1. To find out element from starting to end index
    2. eg [start:end]

In [88]:
print(sorted_arr)

[ 100  200  300  300  400  500  600 1900 7000]

In [89]:
slice_sorted_arr=sorted_arr[1:3]
print(slice_our_arr)

[200 300]

# starting from an index and going till last

In [91]:
print(sorted_arr[3:])

[ 300  400  500  600 1900 7000]

In [94]:
print(sorted_arr[:4])

[100 200 300 300]

In [95]:
print(sorted_arr[:5])

[100 200 300 300 400]

# step
    ## [start:end:step]
    ## step: every step element

In [96]:
our_slice=sorted_arr[1:6:2]
print(our_slice)

[200 300 500]

In [98]:
print('Original Array')
print(sorted_arr)
print('Every Third Element')
every_third_element=sorted_arr[::3]
print(every_third_element)

Original Array
[ 100  200  300  300  400  500  600 1900 7000]
Every Third Element
[100 300 600]

## Slice Reverse

In [100]:
print('Original Array')
print(sorted_arr)
print('Reverse Array: ')
print(sorted_arr[::-1])

Original Array
[ 100  200  300  300  400  500  600 1900 7000]
Reverse Array:
[7000 1900  600  500  400  300  300  200  100]

In [102]:
print('Last five elements')
print(sorted_arr[-5:])

Last five elements
[ 400  500  600 1900 7000]

In [103]:
print('Slicing done')

Slicing done